<!DOCTYPE html>
<html data-ng-app="surveyApp">
<head>

	<title>Survey Application</title>
	<meta name="keywords" content="">
        <meta name="description" content="">
	<meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link rel="icon" type="images/x-icon" href="/images/favicon.ico">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,600,800,900,200,300,100' rel='stylesheet' type='text/css'>
	<!--<link rel="stylesheet" type="text/css" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">-->
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">

	<!-- html5.js for IE8 support of HTML5 elements:
             respond.js for bootstrap support in IE8: -->
        <!--[if IE]>
	<script type="text/javascript" src="assets/js/html5shiv.js"></script>
	<script type="text/javascript" src="assets/js/respond.js"></script>
	<![endif]-->
</head>
<body class="withSubmenu">
	<div class="topBar hidden-xs">
		<nav class="navbar container" role="navigation">
				<!-- Brand and toggle get grouped for better mobile display -->
			<a class="navbar-brand" href="index.html">
				<img class="logo" src="assets/images/logo.png" alt="logo">
				<img class="logoOpen" src="assets/images/logoOpen.png" alt="logo">
			</a>
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navBarCollapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navBarCollapse">
				<ul class="nav navbar-nav">
				<li><a href="#"><i class="fa fa-home fa-2x"></i></a></li><!-- 
				--><li><a href="#/questionnaire"><i class="fa fa-linux fa-2x"></i></a></li><!-- 
				--><li><a href="#/preview"><i class="fa fa-html5 fa-2x"></i></a></li><!-- 
				--><li><a href="#/phones"><i class="fa fa-windows fa-2x"></i></a><!-- 
				--><li><a href="#/questions"><i class="fa fa-camera-retro fa-2x"></i></a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right userMenu">
					<li>
				 		<a href=""><i class="fa fa-cog fa-2x"></i></a>
				 	</li><!--
				 --><li>
				 		<a href=""><i class="fa fa-sign-out fa-2x"></i></a>
				 	</li>
				</ul>
			</div><!-- /.navbar-collapse -->
		</nav>
	</div>
    
    <div class="submenuWrapper navbar-fixed-top hidden-xs" ng-controller="QuestionsController">
        <div class="container submenuContainer" id="scrollSpy1">
            <ul class="submenu nav six" role="tablist">
               <li ng-repeat="question in questions"><a href="#questions/#{{question.qID}}" ng-click="navigateToID(question.qID)"><i class="fa fa-chevron-circle-right fa-3x"></i></a></li>
            </ul>
            <!--  ng-click="navigateToID(question.qID)"-->
        </div>
    </div>
	<!--<div class="container"
		<div class="row">
			<div class="col-sm-6">
				<a href="#/questionnaire" class="fa fa-linux fa-3x"></a>
				<a href="#/preview" class="fa fa-html5 fa-3x"></a>
				<a href="#/phones" class="fa fa-windows fa-3x"></a>
				<a href="#/questions" class="fa fa-camera-retro fa-3x"></a>
			</div>	
		</div>
	</div>
	
	<div class="container" ng-controller="GreetingController" data-ng-init="names=['Ashot','Armen', 'Avetik']">
		<div class="col-sm-2">
		{{greeting}} User! The current date/time is <span>{{now | date:'medium'}}</span>.</div>
		<ul class="list-inline col-sm-2">
			<li data-ng-repeat="name in names" class="col-sm-3">{{name}}</li>
		</ul>
	</div>
	<div class="container" ng-controller="PreviewController">
		<ul>
			<li data-ng-repeat="phone in phones">
				<div class="col-sm-2">
					{{phone.name}}
				</div>
				<div class="col-sm-2">
					{{phone.snippet}}
				</div>
			</li>
		</ul>
	</div>
-->
	<div class="" ng-view></div>


	<!-- JavaScripts files goe here -->
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/controllers/controllers.js"></script>
	<script type="text/javascript" src="app/services/services.js"></script>
	<script type="text/javascript" src="assets/js/script.js"></script>
</body>
</html>