<!DOCTYPE html>
<html data-ng-app="surveyApp">
<head>
	<title>Survey Application</title>
	<meta name="keywords" content="">
        <meta name="description" content="">
	<meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link rel="icon" type="images/x-icon" href="/images/favicon.ico">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,500,700,600,800,900,200,300,100' rel='stylesheet' type='text/css'>
	<!--<link rel="stylesheet" type="text/css" href="bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css">-->
	<link rel="stylesheet" type="text/css" href="./assets/css/style.css">

	<!-- html5.js for IE8 support of HTML5 elements:
             respond.js for bootstrap support in IE8: -->
        <!--[if IE]>
	<script type="text/javascript" src="assets/js/html5shiv.js"></script>
	<script type="text/javascript" src="assets/js/respond.js"></script>
	<![endif]-->
</head>
<body>
	<div class="container"
		data-ng-init="names=['Ashot','Armen', 'Avetik']">
		<div class="row">
			<div class="col-sm-6">
				<a href="#/questionnaire" class="fa fa-linux"></a>
				<a href="#/preview" class="fa fa-html5"></a>
				<a href="#/phones" class="fa fa-windows"></a>
			</div>
			<ul class="list-inline col-sm-6">
				<li data-ng-repeat="name in names" class="col-sm-3">{{name}}</li>
			</ul>	
		</div>
	</div>
	<div class="container" ng-controller="GreetingController" data-ng-init="names=['Ashot','Armen', 'Avetik']">
		<div class="col-sm-2">
		{{greeting}} User! The current date/time is <span>{{now | date:'medium'}}</span>.</div>
		<ul class="list-inline col-sm-2">
			<li data-ng-repeat="name in names" class="col-sm-3">{{name}}</li>
		</ul>
	</div>
	<div class="container" ng-controller="PreviewController">
		<ul>
			<li data-ng-repeat="phone in phones">
				<div class="col-sm-2">
					{{phone.name}}
				</div>
				<div class="col-sm-2">
					{{phone.snippet}}
				</div>
			</li>
		</ul>
	</div>

	<div class="container" ng-view></div>

	<div class="container" ng-controller="QuestionController">
		<pre>
			<code>
				{{questions}}
			</code>
		</pre>
	</div>


	<!-- JavaScripts files goe here -->
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-route/angular-route.min.js"></script>
	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/controllers/controllers.js"></script>
	<script type="text/javascript" src="app/services/services.js"></script>
	<script type="text/javascript" src="assets/js/script.js"></script>
</body>
</html>