/* Style for content ==============================
===================================================*/

.bgWhite {
	background-color: white;
}
.bgBlue {
	background-color: #09a5f7;
}
.bgGrey {
	background-color: #eee;
}